:root {
  --blue-color: #63aeff;
  --orange-color: #FF8A65;
  --white-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/TaeAugust07.jpg');
  background-size: cover;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.editBtn {
  cursor: pointer;
}